<!-- Management board -->
<div class="wrapper min-w-full">
  <div class="hero w-full shared-py">
    <h2 class="text-white font-bold text-[1.875rem] mb-13 text-center">
      Management <span class="shared-span">Board</span>
    </h2>

    <!-- Contents -->
    <div class="px-[15px] w-full">
      <!-- First item -->
      <article
        class="bg-white max-w-[940px] mx-auto py-8 px-[25px] rounded-[5px]"
      >
        <h3 class="title-color text-[1.25rem] font-bold">
          Development Missions
        </h3>
        <p class="mt-3 font-[300] text-sm">
          To advance human potential by integrating Halal values with
          cutting-edge Artificial Intelligence—expanding ethical knowledge,
          empowering minds, and enhancing freedoms through inclusive research,
          transformative learning, and responsible innovation. We are committed
          to upholding human dignity, Shariah principles, and global equity
          through the development of intelligent Halal ecosystems that enrich
          communities, protect rights, and shape a sustainable future.
        </p>
      </article>
      <!-- /First item -->

      <!-- Info about person -->
      <div class="flex mt-[30px] flex-col items-center text-center">
        <!-- Avatar -->
        <img
          class="w-[100px] rounded-full"
          src="images/avatar.webp"
          alt="Avatar"
        />
        <h4 class="uppercase leading-[24px] text-cyan-500 text-[1.125rem]">
          Muhammad Nafis Bin Abdul Mois
        </h4>
        <p class="!text-white">Chairman</p>
        <!-- /Avatar -->
      </div>
      <!-- /Info about person -->
    </div>
    <!-- /Contents -->
  </div>
</div>

<!-- /Management board -->
