<!-- Footer -->
<section>
  <footer class="bg-[#353535] py-[15px] px-[15px] md:py-[20px]">
    <div class="mx-auto shared-max-w justify-between md:flex md:w-[90%]">
      <p class="!text-white font-[300] my-2 md:max-w-[350px] md:my-0">
        All Rights Reserved UI PLATINUM GROUP SDN BHD | Copyright 2016 ©
        <a
          target="_blank"
          href="https://www.pfind.com/goodies/bizium/"
          class="cursor-pointer text-[#337AB7] font-semibold"
          >The Bizium</a
        >
      </p>

      <div>
        <a
          target="_blank"
          href="https://api.whatsapp.com/qr/BR3FM6ABAYBFK1?autoload=1&app_absent=0"
          class=""
        >
          <i class="fa-brands icon fa-square-whatsapp lg:!text-[4rem]"></i>
        </a>
      </div>
    </div>
  </footer>
</section>
<!-- /Footer -->
