<!-- Header logic -->
<section id="header">
  <app-header />
</section>
<!-- /Header logic -->

<!-- Img slider -->
<section id="img-slider">
  <app-img-slider />
</section>
<!-- /Img slider -->

<!-- Our company -->
<section id="about-us">
  <app-our-company />
</section>
<!-- /Our company -->

<!-- Product and services -->
<section id="products">
  <app-product-services />
</section>
<!-- /Product and services -->

<!-- Partners -->
<section id="partners">
  <app-partners />
</section>
<!-- /Partners -->

<!-- Management board -->
<section id="management-board">
  <app-management-board />
</section>
<!-- /Management board -->

<!-- Contact us -->
<section id="contact-us">
  <app-contact-us />
</section>
<!-- /Contact us -->

<!-- Footer -->
<app-footer />
<!-- /Footer -->
