<!-- Our company -->
<div class="overflow-x-hidden shared-max-w">
  <div class="our-company-grid md:w-[95%] mx-auto shared-py">
    <!-- Img -->
    <div class="animate-slide-left" [class.ready]="isReady()">
      <img
        class="sm:max-w-[558px] h-full md:w-full mx-auto"
        src="images/company.webp"
        alt="Company img"
        preload="true"
      />
    </div>
    <!-- /Img -->

    <!-- Content -->
    <article
      class="flex animate-slide-right text-center flex-col gap-2 md:px-4 md:text-left md:mt-16"
      [class.ready]="isReady()"
    >
      <h2 class="shared-title-style">About Us</h2>
      <p class="title-color font-[300]">
        International Halal AI Research and Training Centre (INHART-AI) is the
        world’s pioneering institution at the intersection of Halal compliance,
        Artificial Intelligence, and global innovation. Headquartered in
        Uzbekistan, INHART-AI leads the transformation of the Halal ecosystem
        through cutting-edge research, advanced AI integration, and strategic
        capacity-building programs tailored for the Halal industry worldwide.
      </p>

      <p class="title-color font-[300]">
        We empower governments, certification bodies, corporations, and
        entrepreneurs to elevate their Halal standards by leveraging the latest
        in AI-driven technologies With a global vision and regional focus, we
        are proud to be the first and only Halal AI institution, unlocking new
        commercial frontiers and investment opportunities in food, cosmetics,
        pharmaceuticals, finance, tourism, logistics, medical device and digital
        services. Our training programs and consultancy services are designed to
        future-proof Halal industries and accelerate digital transformation in
        compliance with international Shariah standards. At INHART-AI, we are
        not just keeping pace with innovation—we are defining the future of
        Halal.
      </p>
    </article>
    <!-- /Content -->
  </div>
</div>

<!-- /Our company -->
